.webcam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.webcam-box {
    position: relative;
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
  }
  

.zoom-controls {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
